.header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
}

.header .header_img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: header infinite 50s alternate linear;
          animation: header infinite 50s alternate linear;
}

@-webkit-keyframes header {
  0% {
    object-position: top;
  }
  100% {
    object-position: bottom;
  }
}

@keyframes header {
  0% {
    -o-object-position: top;
       object-position: top;
  }
  100% {
    -o-object-position: bottom;
       object-position: bottom;
  }
}

.header .header_title {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(201, 201, 201, 0.1);
}

.header .header_title h2 {
  background-color: #000;
  color: #eee;
  padding: 0 20px 0 10px;
  opacity: 0.6;
  font-size: clamp(12px, 4vw, 25px);
}

.header .header_title strong.logo {
  width: auto;
  height: auto;
  font-size: clamp(20px, 10vw, 45px);
  display: block;
  text-align: left;
  background-color: #000;
  opacity: 0.6;
  overflow: hidden;
  position: relative;
}

.header .header_title strong.logo a {
  color: #fff;
  padding: 0 20px 0 10px;
}

.header .header_title strong.logo a:hover {
  color: #222;
  background-color: #fff;
}

.header .header_title strong.logo a:hover::before, .header .header_title strong.logo a:hover::after {
  content: "";
  position: absolute;
  left: -400px;
  top: -40px;
  width: 80px;
  height: 300%;
  background-color: #000;
  -webkit-animation: logo ease 0.5s 0.2s;
          animation: logo ease 0.5s 0.2s;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.header .header_title strong.logo a:hover::after {
  left: -200px;
  -webkit-animation: logo2 ease 0.5s 0.2s;
          animation: logo2 ease 0.5s 0.2s;
}

@-webkit-keyframes logo {
  0% {
    left: -400px;
  }
  100% {
    left: 110%;
  }
}

@keyframes logo {
  0% {
    left: -400px;
  }
  100% {
    left: 110%;
  }
}

@-webkit-keyframes logo2 {
  0% {
    left: -200px;
  }
  100% {
    left: 140%;
  }
}

@keyframes logo2 {
  0% {
    left: -200px;
  }
  100% {
    left: 140%;
  }
}
