.Products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin: 5px;
}

.Products .title {
  padding: 0 10px;
  margin: 5px;
  border-radius: 10px;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Products .title h2 {
  font-size: clamp(30px, 5vw, 40px);
}

.Products .sort {
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Products .sort span,
.Products .sort input {
  margin: 5px 10px 5px 0;
  padding: 10px 15px;
  background-color: #f68074;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: 900;
  font-size: 12px;
}

.Products .sort span:hover,
.Products .sort input:hover {
  -webkit-box-shadow: 3px 3px 20px #f68074;
          box-shadow: 3px 3px 20px #f68074;
}

.Products .sort span.text:hover,
.Products .sort input.text:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Products .sort span::-webkit-input-placeholder,
.Products .sort input::-webkit-input-placeholder {
  color: inherit;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.Products .sort span:-ms-input-placeholder,
.Products .sort input:-ms-input-placeholder {
  color: inherit;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.Products .sort span::-ms-input-placeholder,
.Products .sort input::-ms-input-placeholder {
  color: inherit;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.Products .sort span::placeholder,
.Products .sort input::placeholder {
  color: inherit;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.Products .sort span:focus,
.Products .sort input:focus {
  -webkit-box-shadow: 3px 3px 20px #f68074;
          box-shadow: 3px 3px 20px #f68074;
}

.Products .sort .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Products .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
