html {
  height: 100%;
  width: 100%;
}

ul li {
  list-style: none;
  padding-left: 15px;
  max-width: 100%;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: 100;
}

h2,
h3,
h4 {
  font-size: 27px;
}

body {
  font-size: 14px;
  font-family: sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  background-color: rgb(249, 249, 255);
}

p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  min-height: 100%;
  flex: 1 1 calc(85% - 40px);
  margin: 0 10px;
}
.Main {
  font-size: 14px;
  line-height: 1;
  width: 100%;
  display: flex;
}

.violet-red {
  background-color: rgb(193, 128, 184);
}

//
.yell-orange {
  background-color: rgb(251, 200, 121);
}
.green-blue {
  background-color: rgb(88, 198, 199);
}
//////////////////
//
.green {
  background-color: rgb(103, 194, 151);
}

//
.red {
  background-color: rgb(246, 128, 116);
}

.orange {
  background-color: rgb(216, 198, 160);
}

//
.blue-violet {
  background-color: rgb(138, 152, 218);
}
.pink {
  background-color: rgb(255, 161, 189);
}
.brown {
  background-color: rgb(202, 174, 154);
}
.yellow {
  background-color: rgb(230, 224, 174);
}
